################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/WinFormApp/WinFormApp/bin/Debug
/Desktop/WinFormApp/.vs/WinFormApp/v17
/Desktop/WinFormApp/WinFormApp/obj/Debug

[bB]in/
[dD]ebug/
[oO]bj/
[rR]es/
[tT]est/
[vV]shost.exe
[vV]shost.exe.manifest
/Desktop/WinFormApp/packages
/Web/WebApp/.vs/WebApp/v17/fileList.bin
/Web/WebApp/packages
