@model List<Ecom.Web.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            @Html.Partial("_ProductPartial", item)
        </div>
    }
</div>