@{
    ViewBag.Title = "About";
}
<div class="row">

    @Html.Partial("_PartialBox", new WebApp.ViewModels.PartialBoxViewModel() { Title = "Sales", Numbers = 43, Color = "bg-success", Icon = "ion-stats-bars" })
    @Html.Partial("_PartialBox", new WebApp.ViewModels.PartialBoxViewModel() { Title = "Purchase", Numbers = 34, Color = "bg-warning", Icon = "ion-bag" })
</div>
<p>Use this area to provide additional information.</p>