@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Class</h1>
    <p class="lead">
        This is test
    </p>
</div>
<div>Test</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            alert("Home page is loaded");
        });
    </script>
    }

