@model List<WebApp.ViewModels.StudentViewModel>

@{
    ViewBag.Title = "Students";
}

@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Email</th>
                <th>PhoneNumber</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Fullname</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <span class="alert alert-danger">No Record found</span>
}